<h3>What's your name?</h3>
<form action="/new_player" method='post'>
  <input type="text"  name="player_name"/>
  <br/>
  <input type="submit" class="btn"/>
</form>

After you log in you will be given $500 in chips to start with.
If you run out however, it's game over!